In [1]:
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import warnings
import matplotlib
import pandas as pd
import scipy.stats as stats

warnings.filterwarnings('ignore')

#%load_ext autoreload
#%autoreload 2
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [7]:
pwd

'C:\\Users\\gary\\Documents\\data\\atusresp_2016'

In [16]:
cd C:\Users\gary\Documents\data

C:\Users\gary\Documents\data

In [21]:
ls

 Volume in drive C is OS
 Volume Serial Number is F8CA-7CC7

 Directory of C:\Users\gary\Documents\data

07/02/2017  04:16 PM    <DIR>          .
07/02/2017  04:16 PM    <DIR>          ..
07/02/2017  08:15 AM    <DIR>          atusact_2016
07/01/2017  09:25 AM         3,684,229 atusact_2016.zip
07/02/2017  08:15 AM    <DIR>          atuscps_2016
07/01/2017  09:26 AM         6,860,353 atuscps_2016.zip
07/02/2017  09:28 AM           864,474 atuscpscodebk16.pdf
07/02/2017  09:29 AM           570,216 atusintcodebk16.pdf
07/01/2017  09:35 AM    <DIR>          atusresp_2016
07/01/2017  09:25 AM           841,679 atusresp_2016.zip
07/02/2017  08:15 AM    <DIR>          atusrost_2016
07/01/2017  09:25 AM           144,334 atusrost_2016.zip
07/02/2017  08:17 AM    <DIR>          atusrostec_2016
07/01/2017  09:26 AM            23,198 atusrostec_2016.zip
07/02/2017  08:17 AM    <DIR>          atussum_2016
07/01/2017  09:25 AM           713,076 atussum_2016.zip
07/02/2017  08:17 AM    <DIR>          atuswho_2016
07/01/2017  09:25 AM           841,409 atuswho_2016.zip
07/02/2017  04:16 PM    <DIR>          cps_00001.csv
07/02/2017  04:15 PM         1,215,296 cps_00001.csv.gz
07/02/2017  09:26 AM            70,656 hinc01_1.xls
              11 File(s)     15,828,920 bytes
              10 Dir(s)  669,639,102,464 bytes free

In [36]:
filename = 'atusact_2016/atusact_2016.dat'
resp = pd.read_csv(filename)
resp.describe()

,TUCASEID,TUACTIVITY_N,TEWHERE,TRTCCTOT_LN,TRTCC_LN,TRTCOC_LN,TRTEC_LN,TRTHH_LN,TRTNOHH_LN,TRTOHH_LN,...,TUCUMDUR,TUCUMDUR24,TUDURSTOP,TUEC24,TUTIER1CODE,TUTIER2CODE,TUTIER3CODE,TRCODE,TRTIER2,TXWHERE
count,2.072130e+05,207213.000000,207213.000000,207213.000000,207213.000000,207213.000000,207213.000000,207213.000000,207213.000000,207213.000000,...,207213.000000,207213.000000,207213.000000,207213.000000,207213.000000,207213.000000,207213.000000,207213.000000,207213.000000,207213.000000
mean,2.016063e+13,12.085646,4.095235,6.141603,5.097233,0.618388,-0.525377,5.077572,-0.455821,4.574882,...,690.224880,681.845763,1.241708,-0.772123,8.797860,3.514997,3.517762,88333.619155,883.301014,0.052646
std,3.473787e+08,8.580891,7.449853,25.948921,24.877527,9.877004,7.317765,24.831104,8.895225,23.380714,...,373.163694,353.134694,0.428119,4.566464,7.677521,7.291834,10.728536,76939.533304,769.382343,0.724057
min,2.016010e+13,1.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,1.000000,1.000000,1.000000,-3.000000,1.000000,1.000000,1.000000,10101.000000,101.000000,0.000000
25%,2.016030e+13,5.000000,1.000000,0.000000,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,390.000000,390.000000,1.000000,-1.000000,2.000000,1.000000,1.000000,20201.000000,202.000000,0.000000
50%,2.016061e+13,11.000000,1.000000,0.000000,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,680.000000,680.000000,1.000000,-1.000000,11.000000,2.000000,1.000000,110101.000000,1101.000000,0.000000
75%,2.016091e+13,17.000000,8.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,...,930.000000,930.000000,1.000000,-1.000000,12.000000,3.000000,3.000000,120312.000000,1203.000000,0.000000
max,2.016121e+13,81.000000,89.000000,840.000000,840.000000,745.000000,580.000000,840.000000,840.000000,795.000000,...,2580.000000,1440.000000,2.000000,97.000000,50.000000,99.000000,99.000000,500107.000000,5001.000000,13.000000

In [37]:
resp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207213 entries, 0 to 207212
Data columns (total 30 columns):
TUCASEID        207213 non-null int64
TUACTIVITY_N    207213 non-null int64
TEWHERE         207213 non-null int64
TRTCCTOT_LN     207213 non-null int64
TRTCC_LN        207213 non-null int64
TRTCOC_LN       207213 non-null int64
TRTEC_LN        207213 non-null int64
TRTHH_LN        207213 non-null int64
TRTNOHH_LN      207213 non-null int64
TRTOHH_LN       207213 non-null int64
TRTONHH_LN      207213 non-null int64
TRTO_LN         207213 non-null int64
TUACTDUR        207213 non-null int64
TUACTDUR24      207213 non-null int64
TUCC5           207213 non-null int64
TUCC5B          207213 non-null int64
TUCC7           207213 non-null int64
TUCC8           207213 non-null int64
TUCUMDUR        207213 non-null int64
TUCUMDUR24      207213 non-null int64
TUDURSTOP       207213 non-null int64
TUEC24          207213 non-null int64
TUSTARTTIM      207213 non-null object
TUSTOPTIME      207213 non-null object
TUTIER1CODE     207213 non-null int64
TUTIER2CODE     207213 non-null int64
TUTIER3CODE     207213 non-null int64
TRCODE          207213 non-null int64
TRTIER2         207213 non-null int64
TXWHERE         207213 non-null int64
dtypes: int64(28), object(2)
memory usage: 47.4+ MB

In [38]:
list(resp)

['TUCASEID',
 'TUACTIVITY_N',
 'TEWHERE',
 'TRTCCTOT_LN',
 'TRTCC_LN',
 'TRTCOC_LN',
 'TRTEC_LN',
 'TRTHH_LN',
 'TRTNOHH_LN',
 'TRTOHH_LN',
 'TRTONHH_LN',
 'TRTO_LN',
 'TUACTDUR',
 'TUACTDUR24',
 'TUCC5',
 'TUCC5B',
 'TUCC7',
 'TUCC8',
 'TUCUMDUR',
 'TUCUMDUR24',
 'TUDURSTOP',
 'TUEC24',
 'TUSTARTTIM',
 'TUSTOPTIME',
 'TUTIER1CODE',
 'TUTIER2CODE',
 'TUTIER3CODE',
 'TRCODE',
 'TRTIER2',
 'TXWHERE']

In [68]:
resp.TUCC5B.min()

-3

In [72]:
len(resp.loc[resp['TUCC5B'] == 1])

2884